<html ng-app="myApp">

<head>
    <title>AngularJS</title>
    <!-- <base href="/"> -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/login.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
</head>

<body class="content" ng-controller="AuthController">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form action="" method="">
                <input name="user" ng-model="user.login" type="text" placeholder="Login">
                <input type="password" ng-model="user.senha" placeholder="Senha">
                <md-button ng-click="login()" class="md-raised md-primary col-md-10">Login</md-button>
            </form>
        </div>
    </div>
    
    <!-- <div ng-view>
    </div> -->

    <!-- bootstrap -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FIM -->

    <script src="../bower_components/tooltip.js/index.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>

    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="resources/javascript/login.js"></script>
    <script src="modules/aplicação/app.js"></script>
    <script src="modules/aplicação/routesConfig.js"></script>
    <script src="modules/views/views.constants.js"></script>

    <!-- Auth -->
    <script src="modules/auth/authController.js"></script>
    <script src="modules/auth/authService.js"></script>
    <script src="modules/auth/authFactory.js"></script>
    <!-- FIM -->
</body>

</html>