<md-content md-theme="" layout-padding>
    <h1>
        <label>Novo Cartão</label>
    </h1>
    <form name="cad_cartao">
        <div layout-gt-sm="row">
            <md-input-container>
                <label>Nome</label>
                <input required ng-model="cartao.nome">
            </md-input-container>
    
            <md-input-container>
                <label>Limite</label>
                <input required ng-model="cartao.limite" type="number">
            </md-input-container>
    
            <md-input-container>
                <label>Dia Vencimento</label>
                <input required ng-model="cartao.vencimento" max="31" type="number">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-button ng-disabled="cad_cartao.$invalid" title="Salvar" class="md-fab md-primary md-hue-3" aria-label="Profile">
                <md-icon style="margin-top:-22px;">
                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                </md-icon>
            </md-button>
        </div>
    </form>
</md-content>