<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
    <md-icon style="margin-top:-22px;">
      <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
    </md-icon>
  </md-button>
</section>

<table class="table table-hover table-sm table-bordered">
  <thead class="">
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Data de vencimento</th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="cartao in cards | filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">
      <th ng-bind-html="cartao.codigo"></th>
      <td ng-bind-html="cartao.nome"></td>
      <td ng-bind-html="cartao.dataVencimento | date:'dd-MM-yyyy'"></td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>