<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button ng-click="goTo('/cadastro_retirada_poupanca')" title="Cadastrar Nova Retirada" class="md-fab md-primary md-hue-2"
        aria-label="Profile">
        <md-icon style="margin-top:-22px;">
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </md-icon>
    </md-button>
</section>

<table class="table table-hover table-sm table-bordered">
    <thead class="">
        <tr>
            <th>Código</th>
            <th>Valor</th>
            <th>Dia da Retirada</th>
            <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="retirada in retiradas | filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">
            <th ng-bind-html="retirada.codigo"></th>
            <td ng-bind-html="retirada.valor"></td>
            <td ng-bind-html="retirada.diaRetirada"></td>
            <td ng-bind-html="retirada.motivo"></td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>