<md-toolbar class="md-menu-toolbar" id="menuStyle">
  <div layout="row">
    <div>
      <h2 class="md-toolbar-tools titleApp"></h2>
      <md-menu-bar>
        <md-menu class="menuItem">
          <button ng-click="goTo('/home')">
            Início
          </button>
          <md-menu-content></md-menu-content>
        </md-menu>

        <md-menu class="menuItem">
          <button ng-click="$mdMenu.open()">
            Cartões
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="goTo('/cadastro_cartao')">
                Novo Cartão
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="goTo('/cartoes')">
                Cartões Cadastrados
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu class="menuItem">
          <button ng-click="$mdMenu.open()">
            Dívidas
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="goTo('/cadastro_divida')">
                Nova Dívida
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="goTo('/list_divida')">
                Dívidas Cadastradas
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu class="menuItem">
          <button ng-click="$mdMenu.open()">
            Recebimento De Salário
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="goTo('/cadastro_salario')">
                Novo Recebimento
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="goTo('/list_salarios')">
                Recebimentos Cadastrados
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu class="menuItem">
          <button ng-click="$mdMenu.open()">
            Retiradas Da Poupança
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="goTo('/cadastro_retirada_poupanca')">
                Nova Retirada
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="goTo('/list_retirada_poupanca')">
                Histórico De Retiradas
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </md-menu-bar>
    </div>
  </div>
</md-toolbar>