<!-- MENU
                    <div id='cssmenu'>
                            <ul>
                              <li class="active">
                                <a href='/home'>
                                  <span>Início</span>
                                </a>
                              </li>
                              <li class='active has-sub'>
                                <a href='/cartoes'>
                                  <span>Cartões</span>
                                </a>
                                <ul>
                                  <li class='has-sub'>
                                    <a href='/cadastro_cartao'>
                                      <span>Cadastro de cartões</span>
                                    </a>
                                    <ul>
                                      <li>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                      <li class='last'>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class='has-sub'>
                                    <a href='#'>
                                      <span>Product 2</span>
                                    </a>
                                    <ul>
                                      <li>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                      <li class='last'>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                              <li class='active has-sub'>
                                <a href='#'>
                                  <span>Compras</span>
                                </a>
                                <ul>
                                  <li class='has-sub'>
                                    <a href='#'>
                                      <span>Product 1</span>
                                    </a>
                                    <ul>
                                      <li>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                      <li class='last'>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class='has-sub'>
                                    <a href='#'>
                                      <span>Product 2</span>
                                    </a>
                                    <ul>
                                      <li>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                      <li class='last'>
                                        <a href='#'>
                                          <span>Sub Product</span>
                                        </a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                              <li class='active last'>
                                <a href='#'>
                                  <span>Usuários</span>
                                </a>
                              </li>
                              <div class="btnSair">
                                <i class="fa fa-power-off fa-2x" aria-hidden="true"></i>
                              </div>
                            </ul>
                          </div> -->

<!-- <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-click="goto('page1')" name="page1">
    Page One
  </md-nav-item>
  <md-nav-item md-nav-click="goto('page2')" name="page2">
    Page Two
  </md-nav-item>
  <md-nav-item md-nav-click="goto('page3')" name="page3">
    Page Three
  </md-nav-item>
  <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
  <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
  <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
    Page Six
  </md-nav-item>

</md-nav-bar> -->

<md-toolbar class="md-menu-toolbar" id="menuStyle">
  <div layout="row">
    <div>
      <h2 class="md-toolbar-tools titleApp"></h2>
      <md-menu-bar>
        <md-menu class="menuItem">
          <button ng-click="goTo('/home')">
            Início
          </button>
          <md-menu-content></md-menu-content>
        </md-menu>

        <md-menu class="menuItem">
          <button ng-click="$mdMenu.open()">
            Cartões
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="goTo('/cadastro_cartao')">
                Novo Cartão
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="goTo('/cartoes')">
                Mostrar Cartões
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu class="menuItem">
          <button ng-click="$mdMenu.open()">
            Dívidas
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="">
                Nova Dívida
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="">
                Dívidas Em Aberto
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </md-menu-bar>
    </div>
  </div>
</md-toolbar>